.imagem{
    object-fit: cover;
    max-height: 600px;
    object-position: 0% 40%;
}
.fonte_fantasia{
    font-family: 'Mochiy Pop P One', sans-serif;
}
.cor_fonte{
    color: darkred;
}
.background{
    background-color: rgb(80, 0, 16);
}
.dimensão_card{
    max-width: 400px !important;
    max-height: 650px;
    border: rgb(9, 0, 139) 3px solid;
    border-radius: 5px;
}
.posicao_imagem{
    object-fit: cover;
}
.container-fluid{
    background-image: linear-gradient(to bottom right, red, rgb(0, 68, 255));
}