.imagem{
    object-fit: cover;
    max-height: 600px;
    object-position: 0% 40%;
}
.fonte_fantasia{
    font-family: 'Mochiy Pop P One', sans-serif;
}
.navbar-light{
    background-color: rgb(80, 0, 16);
}
.cor_fonte{
    color: darkred;
}
.dimensão_card{
    width: 400px;
    height: 650px;
    border: darkred 3px solid;
    border-radius: 5px;
}
.posicao_imagem{
    object-fit: cover;
}
